.Container {
  width: auto;
  margin-top: 0.25rem;
  padding: 0.35rem;
  background-color: var(--background-color);
  border-radius: var(--ui-radius);
  border: 1px solid var(--border-color);
  box-shadow: var(--shadow-medium);
}

.Item,
.DangerousItem {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  outline: none;
  height: 2rem;
  padding: 0;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  border-radius: calc(var(--ui-radius) * 0.8);
  cursor: pointer;
  &:hover {
    background-color: var(--accent-color);
  }
}

.RightSlot {
  margin-left: 20px;
  font-size: 0.75rem;
  background-color: var(--accent-color);
  padding-left: 0.25rem;
  padding-right: 0.25rem;
  border-radius: calc(var(--ui-radius) * 0.8);
}

[data-highlighted] > .RightSlot {
  background-color: var(--background-color);
}

// [data-disabled] .RightSlot {
// }

.DangerousItem {
  color: red;
}
