// Light theme
:root {
  --foreground-color: #000;
  --background-color: #fff;
  --border-color: #eaeaea;
  --accent-color-2: #eaeaea;
}

// Dark theme
@media (prefers-color-scheme: dark) {
  :root {
    --foreground-color: #fff;
    --background-color: #000;
    --border-color: #eaeaea;
    --accent-color-2: #eaeaea;
  }

  html {
    color-scheme: dark;
  }
}
