@mixin light-theme {
  --foreground-color: #000;
  --background-color: #fff;
  --border-color: #eaeaea;
  --accent-color-2: #eaeaea;
}

@mixin dark-theme {
  --foreground-color: #fff;
  --background-color: #000;
  --border-color: #eaeaea;
  --accent-color-2: #eaeaea;
}

// Light theme
:root {
  @include light-theme;
}

// Dark theme
[data-theme="dark"] {
  @include dark-theme;
  color-scheme: dark;
}
