@import "colors.scss";

// Light theme
:root {
  @include light-colors;
  --foreground-color: var(--gray12);
  --background-color: var(--gray1);
  --accent-color: var(--gray3);
  --border-color: var(--gray4);
}

// Dark theme
[data-theme="dark"] {
  @include dark-colors;
  --foreground-color: var(--gray12);
  --background-color: var(--gray1);
  --accent-color: var(--gray3);
  --border-color: var(--gray4);
  color-scheme: dark;
}
