.InputField,
.InputFieldEmpty {
  width: 100%;
  height: 2.5rem;
  border-radius: var(--ui-radius);
  border: 1px solid var(--border-color);
  padding-left: 1rem;
  margin-right: -2.5rem;
  margin-bottom: 1.5rem;
  background-color: rgb(var(--background-color));

  &:focus-visible {
    outline: none;
  }

  transition: width 1s;
}

.InputFieldEmpty {
  &::placeholder {
    transition: padding 0.5s;
  }
  &:not(:focus) {
    &::placeholder {
      padding: calc(
        (min(var(--main-column-width), calc(100vw - 15rem)) / 2) - 5.875rem
      );
    }
  }
}

.Form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  transition: filter 1s;
}

.Button {
  width: 2.5rem;
  transition: all 1s !important;
}
