.Indicator,
.HoveredIndicator {
  position: relative;
  height: 0.5rem;
  width: 100%;
  transition: height 0.25s, width 0.5s, padding 0.5s;

  &::before {
    position: absolute;
    display: block;
    content: "";
    border: 0.15rem dashed rgba(var(--foreground-color), 0.35);
    border-radius: var(--ui-radius);
    opacity: 0;
    transition: height 0.25s, width 0.5s, opacity 0.5s;
  }
}

.HoveredIndicator {
  height: 3.5rem;
  width: 100% !important;
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
  opacity: 1;

  & ~ * {
    max-width: 0;
  }

  &::before {
    height: 2.7rem;
    width: 100%;
    opacity: 1;
  }
}
