.Container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: min(var(--main-column-width), calc(100vw - 15rem));
  min-height: calc(100vh - 2rem);
  margin-top: -2.5rem;
  margin-left: auto;
  margin-right: auto;
  z-index: 10;
}
